.titlebar {
  user-select: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 2rem;
}
.titlebarButtonWrapper {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  cursor: pointer;
  height: 100%;
}
.titlebarButtonWrapper:hover {
  background: #dde6ed;
}
.titlebarButton {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.titlebarButton:hover {
}
