.titlebar {
  user-select: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 3rem;
}
.titlebarButtonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  cursor: pointer;
  height: 100%;
}
.titlebarButtonWrapper:hover {
  background: #dde6ed;
}
.titlebarButton {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
